.education-section {
  padding: 120px 20px;
  color: #fff;
  position: relative;
  text-align: center;
  padding: 90px 0 60px;
 background: var(--bg-gradient);
  overflow: hidden;
}

.education-heading {
  text-align: center;
  font-size: 2.8rem;
  color: #ff9800;
  margin-bottom: 90px;
}

/* TIMELINE */
.edu-timeline {
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.edu-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 3px;
  background: #ff9800;
  transform: translateX(-50%);
  /* box-shadow: 0 0 25px rgba(251, 191, 36, 0.5); */
}

/* ITEM */
.edu-item {
  position: relative;
  width: 50%;
  padding: 30px 50px;
}

.edu-item.left {
  left: 0;
  text-align: right;
}

.edu-item.right {
  left: 50%;
  text-align: left;
}

/* DOT */
.edu-dot {
  position: absolute;
  top: 40px;
  right: -11px;
  width: 20px;
  height: 20px;
  background: #ff9800;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgb(4, 4, 4);
  transition: 0.3s;
}

.edu-item.right .edu-dot {
  left: -11px;
}

/* CARD */
.edu-card {
  /* background: rgba(255, 255, 255, 0.04); */
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(12px);
  transition: all 0.4s ease;
  text-align: start;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.786);
}

.edu-card h3 {
  color: #ff9800;
  font-size: 1.3rem;
  margin-bottom: 6px;
 
}

.edu-card h4 {
  font-size: 1rem;
  color: #e5e7eb;
  margin-bottom: 6px;
  
}

.edu-year {
  display: inline-block;
  font-size: 0.9rem;
  color: #9ca3af;
  margin-bottom: 12px;
  
}

.edu-card p {
  font-size: 0.95rem;
  color: #d1d5db;
  line-height: 1.6;
  
}

/* HOVER EFFECT */
.edu-item:hover .edu-card {
  transform: translateY(-8px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.786);
}

.edu-item:hover .edu-dot {
  transform: scale(1.2);
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.786);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .edu-timeline::before {
    left: 20px;
  }

  .edu-item {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
    text-align: left;
  }

  .edu-item.left,
  .edu-item.right {
    left: 0;
  }
  .edu-item.right .edu-dot {
  left:10px;
}

  .edu-dot {
    left: 11px;
    right: auto;
  }
}
.education-header {
  position: relative;
  text-align: center;
  margin-bottom: 90px; /* timeline se distance */
}

/* BIG BACK TEXT */
.education-bg-text {
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.035);
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
}

/* MAIN TITLE */
.education-title {
  position: relative;
  z-index: 2;
  font-size: 2.6rem;
  font-weight: 700;
  color: #ff9800;
  letter-spacing: 2px;
}

/* UNDERLINE */
.education-underline {
  width: 140px;
  height: 3px;
  background: #ff9800;
  margin: 14px auto 0;
}
