.skills-section {
  padding: 120px 20px;
  background: var(--bg-gradient);
  color: #fff;
}

.skills-container {
  max-width: 1100px;
  margin: auto;
}

/* ===== TITLE ===== */
.skills-title {
  position: relative;
  text-align: center;
  margin-bottom: 120px;
}

.skills-title .bg-text {
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.035);
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
}

.skills-title h2 {
  font-size: 2.4rem;
  color: #ff9800;
  letter-spacing: 2px;
}

.skills-title .underline {
  width: 140px;
  height: 2px;
  background: #ff9800;
  margin: 12px auto 0;
}

/* ===== GRID ===== */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/* ===== CARD ===== */
.skills-card {
   cursor: pointer;
  /* background: rgba(255, 255, 255, 0.04); */
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
  border-radius: 22px;
   border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 40px;
  backdrop-filter: blur(12px);
  transition: all 0.35s ease;
     box-shadow: 0 5px 12px rgba(0, 0, 0, 0.786);

}

.skills-card:hover {
  transform: translateY(-8px);
  /* border-color: #fbbf24; */
 box-shadow: 0 5px 12px rgba(0, 0, 0, 0.786);
}

.skills-card h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

/* ===== SKILL ROW ===== */
.skill-row {
  margin-bottom: 22px;
}

.skill-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.skill-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-icon {
  font-size: 1.2rem;
  color: #fbbf24;
}

.skill-name {
  font-size: 0.95rem;
  color: #e5e7eb;
}

.skill-percent {
  font-size: 0.85rem;
  color: #9ca3af;
}

/* ===== BAR ===== */
.skill-bar {
  height: 8px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 6px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #fbbf24, #f59e0b);
  border-radius: 6px;
  transition: width 1.2s ease;
}

/* ===== HOVER EFFECT ===== */
.skills-card:hover .skill-fill {
  filter: brightness(1.2);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .skills-title .bg-text {
    font-size: 4rem;
  }

  .skills-card {
    padding: 30px 24px;
  }
}
