*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Main Container */

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px;
}
.home-content{
    max-width: 600px;
    margin-left: 12%;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation:slideBottom 1s ease forwards ;
    animation-delay:.7s ;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h1{
font-size: 56px;
font-weight: 700;
margin: -3px 0;
 opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform:.5s ease;
      opacity: 0;
    animation:slideLeft 1s ease forwards ;
    animation-delay:calc(.2s * var(--i)) ;
}
.home-social a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
 .btn-box {
    display: inline-block;
    padding: 12px 28px;
    background-color: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation-delay: 2s;
    animation: slideTop 1s ease forwards;
    box-shadow:0 0 5px #0ef ,
    0 0 25px #0ef

 }
.btn-box:hover{
   box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
  
}
.bg-dot,
.bg-star {
  position: absolute;
  z-index: 0;
}

.bg-dot {
  width: 8px;
  height: 8px;
  background: #0099ff;
  border-radius: 50%;
   box-shadow: 0 12px cyan, 12px 0 cyan, 12px 12px cyan,
                24px 0 cyan, 24px 12px cyan, 0 24px cyan,
                12px 24px cyan, 24px 24px cyan;
  opacity: 0.8;
  animation: floatDots 6s ease-in-out infinite alternate;
}

.dot1 {
  top: 15%;
  left: 5%;
}
.dot2 {
  bottom: 20%;
  right: 10%;
}

.bg-star {
  color: #0099ff;
  font-size: 24px;
  opacity: 0.9;
  animation: twinkle 2s infinite alternate;
}

.star1 {
  top: 15%;
  right: 20%;
}
.star2 {
  bottom: 10%;
  left: 23%;
}

/* ================== Animations ================== */
@keyframes twinkle {
  0% {
    opacity: 0.3;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes floatDots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}