.home {
  position: relative;
  min-height: 100vh;
 background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 2px 6px #00000080;
}

/* Particles canvas */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Orbs with glowing aura */
.orb {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(180px);
  opacity: 0.5;
  z-index: 1;
}

.orb1 {
 /* background:radial-gradient(circle at top, #0a0b1e, #020311); */
  top: 25%;
  left: 15%;
}

.orb2 {
  /* background: #1a1a1a; */
  bottom: 10%;
  right: 15%;
}

/* Text and layout */
.content {
  position: relative;
  z-index: 5;
  max-width: 850px;
  padding: 0 20px;
}

.intro {
  font-size: 1.8rem;
  color: #bbb;
  letter-spacing: 2px;
}

.name {
  font-size: 4.5rem;
  font-weight: 400;
  background: linear-gradient(90deg, #dadada, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0 0 30px #ff9800; */
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  from { text-shadow: 0 0 1px #ff9800; }
  to { text-shadow: 0 0 15px #ff9800 ; }
}

.role {
  font-size: 1.8rem;
  color: #ddd;
  margin-top: 0.4rem;
}

.description {
  font-size: 1.05rem;
  color: #ddd;
  line-height: 1.8;
  margin: 1.5rem auto;
  max-width: 600px;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  padding: 1rem 1.8rem;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 0 10px #ff9800;

}

.btn.primary {
  
  color: black;
   transition: all 0.3s linear;
  background: linear-gradient(90deg, #ff9800, #ff9800);
}

.btn.primary:hover {
  transform: scale(1.05) translateY(-3px);
  /* box-shadow: 0 0 25px #ff9800; */
}

.btn.secondary {
  border: 2px solid #ff9800;
  color: #ff9800;
   transition: all 0.3s linear;
  background: transparent;
}

.btn.secondary:hover {

  transform: scale(1.05) translateY(-3px);
}

/* Social icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  margin-top: 2.5rem;

}

.socials a { 
display: inline-flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
font-size: 20px;
color: #ff9800;
background: transparent;
border-width: 2px;
border-style: solid;
border-color: #ff9800;
border-radius: 50%;
transition: all 0.3s linear;
}

.socials a:hover {
  color: white;
  transform: scale(1.3);
}

/* Scroll arrow */
.scroll-down {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #ff9800;
}


 @media (max-width:435px) {
  .content{
    margin-top:30%;
  }
}
 @media (max-width:385px) {
  .content{
    margin-top: 30%;
  }
}
