* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/* Main Container */


.header {

    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 1%;
    z-index: 1000;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin: 7%;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 5rem;
    margin: 4%;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.nav-btn {
    color: #ededed;
    background-color: #0ef;
    padding: 10px 25px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-btn:hover {
    background-color: #0ef;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background: #ededed;
    transition: 0.3s;
}

.hamburger .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line.open:nth-child(2) {
    opacity: 0;
}

.hamburger .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 910px) {
    .navbar {
        position: absolute;
        top: 10vh;
        right: -100%;
        width: 50%;
        height: 50vh;
        background: #0b142a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        transition: right 0.4s ease;
    }

    .navbar.active {
        right: 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 18px;
    }

    .nav-btn {
        margin-top: 0px;
    }

    .hamburger {
        display: flex;
    }

    .header {
        width: 100%;
    }
}