/* Navbar wrapper */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 1.5rem 0;
  transition: all 0.3s ease;
  background: transparent;
}

.nav-scrolled {
  background: #111;
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  box-shadow:0 2px 12px #111;
}

/* Container */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ddd;
  text-decoration: none;
}

.nav-logo .spn{
  color: #ff8900;
}

/* Desktop Links */
.nav-links {
  display: none;
  gap: 2rem;
}

.nav-link {
  position: relative;
  color: #ddd;
  font-weight: 500;
  transition: color 0.3s;
  letter-spacing: 0.3px;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #ff8900, #fc9928);
  transition: width 0.3s;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover::after {
  width: 100%;
}

/* Desktop Social Icons */
.nav-social {
  display: none;
  gap: 1rem;
}

.nav-icon {
  font-size: 1.4rem;
  color: #ccc;
  transition: all 0.3s ease;
}

.nav-icon:hover {
  color: #ff8900;
  transform: scale(1.2);
}

/* Mobile Button */
.mobile-btn {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #ff8900;
}

/* Mobile Menu */
.mobile-menu {
  display: flex;
  flex-direction: column;
  margin-top: 0.50rem;
  padding: 1rem;
  background: #111;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
  gap: 0.5rem;
  animation: fadeIn 0.3s ease;
  align-items: center;
  width: 65%;
  margin-left: 34%;
}

.mobile-link {
  padding: 0.5rem 0;
  color: #ff8900;
  font-weight: 500;
  transition: color 0.3s;
  text-decoration: none;

}

.mobile-link:hover {
  color: #ff8900;
}

.mobile-social {
  display: flex;
  gap: 1rem;
  padding-top: 0.8rem;
  width: 70%;
  border-top: 1px solid #ff8900;

}
.mobile-social .nav-icon{
 margin-left: 170%;
}

/* Responsive */


@media (min-width: 435px) {
  .nav-links {
    display: flex;
  }
  .nav-social {
    display: flex;
  }
  .mobile-btn, .mobile-menu {
    display: none;
  }
  
}


/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}