* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Container */
.Contact-Cont {
  min-height: 100vh; 
  width: 100%;
  position: relative;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; 
}

/* Heading */
.cont-h2 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: #0ef;
  font-size: 28px;
}

/* Contact Form */
.cont-form {
  width: 35%;
  background-color: rgba(19, 57, 132, 0.14);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #0ef;
}

.cont-form h3 {
  margin-bottom: 15px;
}

.cont-form input,
.cont-form .txt-msg {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.txt-msg {
  min-height: 80px;
  resize: none;
}

.cont-btn {
  padding: 12px;
  width: 40%;
  margin-top: 15px;
  background-color: #0ef;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

/* Contact Info Card */
.cont-card {
  width: 35%;
  background-color: rgba(19, 57, 132, 0.14);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #0ef;
}

.cont-card h3 {
  margin-bottom: 15px;
}

.info-item {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.info-item .icon {
  font-size: 24px;
}

.info-item span {
  font-weight: bold;
  display: block;
  font-size: 16px;
}

.info-item p {
  margin: 0;
  font-size: 14px;
}

.social-btns a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transform:.5s ease;
      opacity: 0;
    animation:slideLeft 1s ease forwards ;
    animation-delay:calc(.2s * var(--i)) ;
}
 .social-btns a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}


/* Responsive */
@media (max-width: 992px) {
  .Contact-Cont {
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
  }

  .cont-form,
  .cont-card {
    width: 80%;
  }

  .cont-h2 {
    top: 5%;
    font-size: 24px;
  }
}
