.contact-section {
  padding: 120px 20px;
  background: var(--bg-gradient);
  color: #fff;
}

.contact-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

/* LEFT */
.contact-left h2 {
  font-size: 3rem;
  color: #ff8900;
  margin-bottom: 20px;
}

.contact-left p {
  font-size: 1.05rem;
  color: #d1d5db;
  line-height: 1.7;
  margin-bottom: 30px;
}

.contact-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.05);
  padding: 18px 22px;
  border-radius: 14px;
  margin-bottom: 18px;
   border: 1px solid rgba(255, 255, 255, 0.08);
  /* border: 1px solid rgba(255, 255, 255, 0.08); */
   transition: all 0.3s linear;
}
.contact-box:hover{
transform: scale(1.05) translateY(-3px);
}

.contact-box svg {
  color: #ff8900;
  font-size: 1.2rem;
}

.contact-socials {
  display: flex;
  gap: 18px;
  margin-top: 25px;
}

.contact-socials a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #ff8900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff8900;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.contact-socials a:hover {
  background: #ff8900;
  color: #020617;
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(251, 191, 36, 0.5);
}

/* RIGHT */
.contact-right {
  display: flex;
  flex-direction: column;
  
}

.form-text {
  font-size: 1rem;
  color: #d1d5db;
  margin-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px 18px;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-radius: 14px;
  margin-bottom: 18px;
  color: #fff;
  font-size: 0.95rem;
   border: 1px solid rgba(255, 255, 255, 0.08);
}

.contact-form textarea {
  min-height: 160px;
  resize: none;
   transition: all 0.3s  ease;
}
.contact-form textarea:focus,.contact-form input:focus{
 border: 2px solid #ff8900;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9ca3af;
}

.contact-form button {
  margin-top: 10px;
  padding: 16px 40%;
  border-radius: 10px;
  border: none;
  background: #ff8900;
  color: #020617;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 10px rgba(251, 191, 36, 0.6);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .contact-left h2 {
    font-size: 2.4rem;
  }
}
/* ================= CONTACT HEADING ================= */

.contact-heading {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  z-index: 5;
}

.contact-heading h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #ff9800;
  letter-spacing: 2px;
  position: relative;
  z-index: 2;
}

/* BACKGROUND TEXT */
.contact-bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.035);
  white-space: nowrap;
  z-index: 1;
  pointer-events: none;
}

/* UNDERLINE */
.contact-underline {
  width: 140px;
  height: 3px;
  background: #ff9800;
  margin: 16px auto 0;
  border-radius: 2px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-heading h2 {
    font-size: 2.2rem;
  }

  .contact-bg-text {
    font-size: 4.5rem;
  }
}
